Body {
  background-color: black;
  color: white;
  position: absolute;
}

.header {
  position: absolute;
}

h1 {
  font-size: 70px;
  font-family: "helvetica";
  top: 20px;
  left: 600px;
  width: 600px; 
  

}

#horse{
  width: 500px;
  left: 500px;
  position: absolute;
}
a:link {
  position: absolute;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  margin-left: 100px;

}

a:visited {
  color: white;
}