.letter {
	width: 200px; 
	height: 300px;
	background-color: yellow;
}

.line1 {
	background-color: orange;
	width: 20px;
	height: 200px;
	position:absolute;

}

.line2 {
	background-color: black;
	width: 20px;
	height: 200px;
	position:absolute;

}

.circle {
	border-radius: 100%;
	width: 100px;
	height:100px;
	top:20px;
	left:20px;
	position:absolute; 
	background-color: red;
}

.triangle1 {

	width: 0px;
	height: 40px;
	border: 10px solid transparent;
	border-top: 10px solid red;
	bottom:20px;
	left:20px;
	position: absolute;
	
}

.triangle2 {

	width: 0px;
	height: 40px;
	border: 10px solid transparent;
	border-top: 10px solid red;
	bottom:20px;
	left:20px;
	position: absolute;
	transform: rotate(20deg);
}