html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  position:absolute;
  text-align: center;
  font-size: 200px;
  color: black;
  font-family: sans-serif;
  animation: pulse;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

}

.element {
  animation: pulse 7s infinite;
}

@keyframes pulse {
  0% {
    background-color: red;
    left: 10px;

  }
  50%{
    left: -10px; 
   
  }
  100% {
    background-color: orange;
    left: 10px;

  }
}
@keyframes drift {
  0% {
    left: 10px;
   
  }
  50%{
    left: -10px; 
   
  }
  }
  100%{
    left:10px;
  }
  }
}



body {
  background: -moz-linear-gradient(top, #dee9f9 0%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top, #dee9f9 0%,#7db9e8 100%); 
  background: linear-gradient(to bottom, #dee9f9 0%,#7db9e8 100%); 
}



#bar {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  line-height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  z-index: 99;
}


#balloon-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.balloon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 12px 6px;
  background-image: url("../img/balloon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  animation: drift;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.big{
  width: 80px;
  height: 80px;
}

.popped{
  opacity:0;
  pointer-events:none;
}

@keyframes drift {
  0% {
    left: 0;
  }
  50%{
    left: -10px; 
  }
  100%{
    left: 0;
  }
}











