img{
	margin-left:95%;
	margin-top: 46%;
	width: 5%;
	height:50px;
	position:relative;
	z-index:1;
	 opacity: 0.5;

}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.first { 
	position: absolute;
 	top: 40%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
}

.second { 
	position: absolute;
 	top: 10%;
 	left: 35%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
}

.third { 
	position: absolute;
 	top: 65%;
 	left: 35%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

 .fourth { 
	position: absolute;
 	top: 20%;
 	left: 35%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

  .fifth { 
	position: absolute;
 	top: -270%;
 	left: 100%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

   .sixth { 
	position: absolute;
 	top: -15%;
 	left: -850px;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

  .seventh { 
	position: absolute;
 	top: -110%;
 	left: 75%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

  .eigth { 
	position: absolute;
 	top: 7%;
 	left: -444%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

  .nine { 
	position: absolute;
 	top: 10%;
 	left: -90%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

   .ten { 
	position: absolute;
 	top: 140%;
 	left: -90%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 30px;
	color: white;
 }

    .eleven { 
	position: absolute;
 	top: 50%;
 	left: 65%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 20px;
	color: white;
 }

  .twelve { 
	position: absolute;
 	top: 78%;
 	left: -92%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 20px;
	color: white;
 }

   .thirteen { 
	position: absolute;
 	top: 109%;
 	left: 129%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 20px;
	color: white;
 }
  .fourteen { 
	position: absolute;
 	top: -48%;
 	left: 129%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	background-color: grey;
	padding: 20px;
	color: white;
 }



a:link {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
}


a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: lighter;
	font-size: 30px;
}

a:visited {
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-weight: lighter;
	font-size: 30px;
}

a:active {
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-weight: lighter;
	font-size: 30px;

}


.word {
 font-weight: italic;	
}

.word2 {
 font-weight: italic;	
}

.word4 {
 font-weight: italic;	
}



