Body {
  background-color: black;
  color: green;
  position: absolute;
}

.header {
  position: absolute;
}

#lunch{
  width: 500px;
  left: 500px;
  position: absolute;
}

#wake{
  width: 500px;
  left: 500px;
  position: absolute;
}
a:link {
  position: absolute;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  margin-left: 700px;

}

a:visited {
  color: white;
}