html, body {
  height: 100%;
}



body{
  transition: background-color 0.25s linear;
}

h1{
  color: pink;
  font-size: 80px;
  position: absolute;
  left:20px;
  top:20px;
}


.dark{
  background-color: white;
}


.button {
  position: relative;
/*  margin: auto;
*/  left: 10px;
  top: 200px;
  width: 120px;
  height: 358px;
  border-radius: 8px;
/*  background-color: rgb(200, 200, 200);
*/  cursor: pointer;
background-image: url("../img/fridge.png");
transition: all 0.5s ease-in-out;
}


.focused{
/* background-color: rgb(120, 120, 120);*/

/* border: 1px solid rgb(40, 40, 40);
*/}

.active {
/*  background-color:rgb(200, 20, 34);*/
background-image: url("../img/open.png");
top:50px;
left: 100px;
/*  border: 1px solid rgb(255, 0, 0);
*/}


/*
  switch img
  width: 120px;
  height: 358px;
*/