html, body {
  margin: 0;
  padding: 0;
}

h1 {
  width: 250px;
  margin: 40px auto 0 auto;
  padding: 0;
  text-align: center;
  font-size: 22px;
  color: rgb(80,80,80);
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

#weather {
  margin-top: 8px;
  font-size: 44px;
  width: 100%;
  text-align: center;
  height: 1000px;
}

.rainy {
  background-image: url(cloud.gif); 
}

.sunny{
  background-image: url(sun.gif); 

}
.windy{
  background-image: url(windy.gif); 

}