.first { 
	position: absolute;
 	top: 30%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	background-color: black;
	padding: 10px;
	color: white;
}

.second { 
	position: absolute;
 	top: 120%;
 	left: 35%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	background-color: black;
	padding: 10px;
	color: white;
}

.third { 
	position: absolute;
 	top: 137%;
 	left: 35%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	background-color: black;
	padding: 10px;
	color: white;
 }

a:link {
	color: pink;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
}


a:hover {
	color: green;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 35px;
}

a:visited {
	color: pink;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
}

a:active {
	color: pink;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;

}



.word2 {
 font-weight: italic;	
 color: pink;
}

.word4 {
 font-weight: italic;	
 color: pink;
}



