html, body {
  height: 100%;
  overflow-x: hidden;
  background: url(paolo1.jpg);

}

.content {
  position: relative;
  float: left;
  margin-bottom: 20px;
}



p {
  margin-top: 90%;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  text-align: left;

}

img {
  position: relative;
  height: 500px;
  width: 1150px;
  top: 100px;
  padding: 6%;

}

h1 {
  text-align: center;
  background-color: white;
  font-family: sans-serif;
}

@media screen and (max-width: 700px) {

  p{
    font-size: 100%;
  }
  img {
  position: relative;
  height: 300px;
  width: 520px;
  top: 50px;
  padding: 6%;

}
h1 {
  text-align: center;
  background-color: none;
  font-family: sans-serif;
  margin-top: 0%;

}

}
